<!-- <h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>What's your project name?</p>
  <mat-form-field appearance="fill">
    <mat-label>Project name</mat-label>
    <input matInput [(ngModel)]="data.project">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.project" cdkFocusInitial>Ok</button>
</div> -->


<h1 mat-dialog-title>Add project</h1>
<div mat-dialog-content>
  <p>Feature is in progress so far.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ok</button>
</div>