/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Cairo:wght@600&family=Poppins:wght@200;300&family=Russo+One&display=swap');

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;

  // font-family: 'Lato', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Open Sans', sans-serif !important;
  font-family: Poppins,Arial,sans-serif !important;
  // font-family: 'Cairo', sans-serif;

  letter-spacing: 1.2px;;
  background-color: $body-bg;

  --menu-width: 65px;

  // --main-bg-color-0: #607d8b;
  // --main-bg-color-1: #78909c;
  // --main-bg-color-2: #90a4ae;
  // --main-bg-color-3: #b0bec5;
  // --main-bg-color-4: #cfd8dc;


  --main-bg-color-0: #607d8b;
  --main-bg-color-1: #00afb9;
  --main-bg-color-2: #f07167;
  --main-bg-color-3: #fed9b7;

  // --main-bg-color-0: #004e98;
  // --main-bg-color-1: #3a6ea5;
  // --main-bg-color-2: #c0c0c0;
  // --main-bg-color-3: #ebebeb;
}


/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: mat-color($app-primary);
  border-radius: 20px;
}

::-webkit-input-placeholder { /* Edge */
  color: $color-grey;
  font-weight: normal;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $color-grey;
}

::placeholder {
  color: $color-grey;
  font-weight: normal;

  color: mat-color($app-primary, 200);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: mat-color($app-primary);
}

.custom-snackbar {
  background-color:mat-color($app-warn);
  color: #fff;

  .mat-simple-snackbar-action{
    color: #fff;
  }
}

.profile-img-container {
  padding: 2px;
  object-fit: cover;
  object-position: 20% 10%;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: mat-color($app-primary, 100);
  display: flex; align-items: center; justify-content: center;
  &.xs{
    width: 30px;
    height: 30px;
  }
  &.sm{
    width: 45px;
    height: 45px;
  }
  &.lg{
    width: 100px;
    height: 100px;
  }
  .profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

  }
  
}

.empty-block {
  height: 80vh;
  h4{
      color: $color-grey;
  }
  mat-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: $color-grey;
  }
}


.container {
  min-width: 1055px; 

  .page-header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.10);

    min-height: $page-header-height;

    position: fixed;
    // todo- handle both - large-small menu - move page header to shell component, or store menu status at a shared service.
    width: calc(100% - var(--menu-width));

    .title{
      color: mat-color($app-primary);
    }
    z-index: 99;
  }
  .page-content {
    padding-top: calc($page-header-height);
  }
   
}


.custom-task-dialog-backdrop {
    background:rgb(176 190 197/ 90%);
  &+.cdk-global-overlay-wrapper{
    .custom-task-dialog {
      max-width: 97vw !important;
      margin-top: -7%;
      .mat-dialog-container{
        padding: 20px 10px;
      }
    }
  }
}
