@use '@angular/material' as mat;
@import "src/theme/theme-variables";

.mat-button-toggle {
 width: 100px;
}

.mat-button-toggle-checked {
  background-color: mat-color($app-primary);
  color: mat-color($app-primary, default-contrast);
}



// Move the follwoing styles glabally
.row{
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 1px 2px 2px 0px #f1f1f1;
  padding: 10px 20px;    
  margin: 1px 0;
  min-height: 50px;


  >div {
      display: flex; align-items: center;
      width: 200px;
  }

  .badge {
      width: 30px;
      height: 30px;
      background: mat-color($app-primary, 300);
      // background-color: $color-primary-light;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 12px;
      color: #fff;
  }

  &.report-title{
    margin-bottom: 10px;
    padding: 10px;
    justify-content: space-between;
    height: 100px;
    
    h3{
      margin: 0;
      text-transform: capitalize;
      color: mat-color($app-primary);
      span.count {
        font-size: 60px;
      }
      code {
        font-size: 10px;
      }
    }

    ::ng-deep {
      * {
        font-family: Poppins,Arial,sans-serif !important;
      }

      .mat-form-field-appearance-fill .mat-form-field-flex{
        background-color: mat-color($app-primary,100);
      }
      .mat-select-value{
        color: mat-color($app-primary);
      }
    }
  }
}

.table-header {
  padding: 20px;

  >div {
      font-size: 11px;
      font-weight: 600;
      vertical-align: middle;
      color:  mat-color($app-primary, 300);
      cursor: default;
      text-transform: uppercase;
  }

}



.dots{
  display: flex;
  gap: 5px;
    .dot{
      background-color: #fff;
      width: 10px; height: 10px;
      animation: a ease .5s infinite;
      margin: 10px 0;
    }

    @keyframes a {
      from {
        background-color:  mat-color($app-primary, 100);
      }
      to {
        background-color:  #fff;
      }
    }
}


.top-tasks {
  display: flex;
  // background-color: blue;
  // padding: 5px;
  max-width: 100%;
  // margin: 20px 10px;
  > div{
    padding: 5px 15px;
    height: 55px;
    h3{
      margin: 0
    }
  }
  div {
    // padding: 10px;
    display: flex; justify-content: center; flex-direction: column;
    span{
      font-size: 12px;
    }
  }
}
