<div class="add-task">
    <input (keydown.enter) ="!isPlaying ? start() : stop()"
      type="text" id="add_task_input" placeholder="What are you working on ?" [(ngModel)]="description">
    <div class="additional-data" [class.manual]="mode === 'manual'">
      <!-- Project Selection -->
      <div>
          <mat-form-field class="select-project" appearance="none">
            <mat-label>
               <mat-icon id="icon">folder_open</mat-icon>
            </mat-label>


            <mat-select [(ngModel)]="project" (openedChange)="showAddProjectInput = false">
              <div class="projects-ddl-items">
                <mat-option>None</mat-option>

               <!-- Projects -->
                <mat-option *ngFor="let project of (projects)" [value]="project._id">{{project?.name}}</mat-option>
              </div>
              
              <div class="add-project">
                <button *ngIf="!showAddProjectInput" mat-flat-button btn-block class="add-btn" (click)="showAddProjectInput = true">
                  <mat-icon>add</mat-icon>Add new
                </button>
  
                <!-- <div > -->
                  <form *ngIf="showAddProjectInput" class="field flex-m flex-c">
                    <input type="text" #project_input autofocus="true" (keydown)="$event.stopPropagation()">
                    <button [disabled]="project_input?.value?.length === 0" (click)="addProject(project_input?.value)"><mat-icon>add</mat-icon></button>
                    <button (click)="showAddProjectInput = false" class="stop"><mat-icon>close</mat-icon></button>
                  </form>
                 
                <!-- </div> -->
              </div>
        

            </mat-select>
          </mat-form-field>
      </div>
      <!-- ========================== -->

      <!-- Timer -->
      <div class="timer" *ngIf="mode === 'timer';else manualTimes">
        {{!isPlaying ? ' 00:00:00' : (isPlaying.period) }} 
      </div>
      <ng-template #manualTimes>
        <div class="flex-sb flex-m manualTimeInputs"> 

          <div class="flex-m datetime-container">
            <!-- <ngx-mat-timepicker [showSeconds]="true"  [showSpinners]="false" [enableMeridian]="true" [(ngModel)]="manualTimeStart"></ngx-mat-timepicker> -->

              <input matInput [ngxMatDatetimePicker]="start" placeholder="Start" [(ngModel)]="manualTimeStart" (ngModelChange)="startDateChange()">
              <mat-datepicker-toggle matSuffix [for]="start" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #start [enableMeridian]="true" [showSeconds]="true">
                <ng-template>
                  <span>OK</span>
                </ng-template>
              </ngx-mat-datetime-picker>
          </div>

          <div class="flex-m datetime-container">
            <!-- <ngx-mat-timepicker [showSeconds]="true" [enableMeridian]="true" [(ngModel)]="manualTimeEnd"></ngx-mat-timepicker> -->

              <input matInput [ngxMatDatetimePicker]="end" placeholder="End"  [(ngModel)]="manualTimeEnd" [min]="manualTimeMin" [max]="manualTimeMax">
              <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #end [enableMeridian]="true" [showSeconds]="true">
                <ng-template>
                  <span>OK</span>
                </ng-template>
              </ngx-mat-datetime-picker>
          </div>


        </div>
      </ng-template>
      <!-- ========================== -->

      <!-- Actions -->
      <div class="actions">
        <div class="timer-mode" *ngIf="mode === 'timer';else manual_add">
          <button *ngIf="!isPlaying; else is_playing" mat-flat-button class="start" (click)="start()"><mat-icon>play_arrow</mat-icon></button>
          <ng-template #is_playing>
            <button mat-flat-button class="stop" (click)="stop()"><mat-icon>stop</mat-icon></button>
          </ng-template>
        </div>
        <ng-template #manual_add> 
          <button mat-flat-button [disabled]="!manualTimeStart || !manualTimeEnd" class="add" (click)="manualAdd()"><mat-icon>add</mat-icon></button>
        </ng-template>
          
        <mat-button-toggle-group [disabled]="!!isPlaying" #group="matButtonToggleGroup" [vertical]="true" [value]="mode" (change)="onModeChange(group.value)">
          <mat-button-toggle [matTooltip]="'Timer'" value="timer" aria-label="Text align left">
            <mat-icon>timer</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [matTooltip]="'Manual'" value="manual" aria-label="Text align center">
            <!-- <mat-icon>note_add</mat-icon> -->
            <mat-icon>library_add</mat-icon>            
          </mat-button-toggle>
        </mat-button-toggle-group>

      </div>
    </div>
  </div>