<div class="add-task">
    <input  (keydown.enter) ="!isPlaying ? start() : stop()"
      type="text"class="input" placeholder="What are you working on ?" [(ngModel)]="description">
    <div class="additional-data">
      <div>
        <button mat-icon-button>
          <mat-icon id="d">folder_open</mat-icon>
        </button>
      </div>
      <div class="timer">
        {{!isPlaying ? ' 0 : 0 : 0' : 
        (isPlaying?.period?.hours + " : "+  isPlaying?.period?.minutes + " : " + isPlaying?.period?.seconds) 
      }} 
      </div>
      <div class="actions">
        <button *ngIf="!isPlaying; else is_playing" mat-flat-button class="start" (click)="start()"><mat-icon>play_arrow</mat-icon></button>
        <ng-template #is_playing>
          <button mat-flat-button class="stop" (click)="stop()"><mat-icon>stop</mat-icon></button>
        </ng-template>
      </div>
    </div>
  </div>