@use '@angular/material' as mat;
@import "src/theme/theme-variables";

:host{
    .add-task{
        font-weight: 600;

        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.10);
        // box-shadow:  0 1px 4px #f0f0f0;;

        min-height: 80px;
        #add_task_input{
          width: 75%;
          padding: 10px ;
          outline: none;
          border: none;
          font-weight: 600;
          font-size: 16px;
          color: mat-color($app-primary);
        }
        .additional-data {
          width: 23%; 
          display: flex;
          justify-content: space-between;
          align-items: center;
          .timer {
            color: mat-color($app-primary);
          }

          .start, .add {
            background-color:  mat.get-color-from-palette($app-primary);
            color: #fff;
            // border: 5px solid mat-color($app-primary,100);
            outline: 5px solid mat-color($app-primary,100);

            border-radius: 0;
            &:disabled{
              background-color: $color-disabled;
            }
          }
          .stop {
            outline: 5px solid mat-color($app-warn,100);

            background-color: mat.get-color-from-palette($app-warn);
            color: #fff;
          }
          .start, .stop, .add{
            // border-radius: 0;
            border-radius: 50%;
            height: 40px;
            min-width: 40px;
            line-height: normal;
            padding: 0;
            display: flex; align-items: center; justify-content: center;


            &:enabled:hover{
              outline-width: 4px;
              transition: all .9s ease-out;
            }

            &:disabled{
              outline-width: 0;
            }
          }

          &.manual{
            width: 50%;

            .manualTimeInputs {
              margin: 0 20px;
              gap: 5px;
            }
          }

           
          
         
        }

        .actions {
          display: flex; gap: 20px; align-items: center;
          .mat-button-toggle-group {
            height: 44px;
            border-radius: 5px;

            .mat-button-toggle{
              height: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: mat-color($app-primary);
              

              mat-icon{
                font-size: 14px;
                display: flex; align-items: center; justify-content: center;
              }

              ::ng-deep {
                .mat-button-toggle-label-content {
                  padding: 0 0;
                }
              }
            }
            .mat-button-toggle-checked{
              background-color: mat-color($app-primary);
              color: #fff !important;

              &.mat-button-toggle-disabled {
                background-color: $color-disabled;
                cursor: not-allowed;
              }
            }

            
          }
        }
      } 
}



::ng-deep {  
  .mat-select{
    font-family: Poppins,Arial,sans-serif !important;
    font-size: 14px;
  }
  .mat-select-panel {
    overflow: hidden !important;
  }
  .mat-form-field.select-project {
    .mat-select-value {
      color: mat-color($app-primary, 500);
    }
    .mat-select-arrow{
      color: $color-grey;

      border: solid $color-grey;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      margin: 0;
       transform: rotate(45deg) !important;
      -webkit-transform: rotate(45deg) !important;
    }
    mat-label mat-icon#icon {
      font-size: 20px;
      color: mat-color($app-primary, 200);
    }
    &:not(.mat-form-field-should-float){
      width: 40px;
      .mat-form-field-infix {
        border-top: none;
      }
    }

    &.mat-form-field-should-float{
      .mat-select-arrow{
        border: none;
      }
    }
    .mat-form-field-infix {
      width: 110px;
    }
  
    .mat-form-field-appearance-fill .mat-form-field-flex{
      padding: 0;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-select-arrow-wrapper{
      display: block;
      display: flex;
      align-items: flex-end;
      height: 10px;
    }

    
  }

  .ngx-mat-timepicker-table {
    .ngx-mat-timepicker-tbody{ 
      // tr{
      //   &:first-of-type, &:last-of-type{
      //     display: none;
      //   }
      // }

      
      .mat-input-element {
        font-weight: 600;
        color: mat-color($app-primary);}
      .mat-form-field-appearance-legacy .mat-form-field-underline { 
          background-color: mat-color($app-primary);
          height: 1px;
      }
    }
  }

  .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #fff;
  }
}

// .select-project {
  .projects-ddl-items{
    max-height: 200px;
    overflow: auto;
  }
// }
.add-project {
    border-top: solid 1px rgba(0, 0, 0, 0.10);
    border-radius: 0;


    font-size: inherit;
    line-height: 3em;
    height: 3em;

    button.add-btn{
      width: 100%;  
    }
    .mat-icon{
      font-size: 20px;
      color: mat-color($app-primary);
    }

    .field {
      height: 100%;
      button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border: none;
        margin-inline-end: 1px;
        cursor: pointer;
      }
      .mat-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 17px;
      }
      input {
        font-size: inherit;
        border: none;
        outline: none;
      }
    }
   
}


.on-focus {  
  animation: zoom .5s ease-in;
}

@keyframes zoom {
  0% {
    transform: scaleY(-1.4);
    color: red;
    opacity: .5;
  }
  50% {
    transform: scaleY(1.4);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}



// .mat-form-field-appearance-legacy .mat-form-field-infix border 1px solid #f0f0f0;
// .mat-form-field-appearance-legacy .mat-form-field-underline depsloay none
// .mat-form-field-appearance-legacy .mat-form-field-wrapper padding-bottom 0


.datetime-container{
  border: solid 1px rgba(0, 0, 0, 0.10);
  padding: 0 9px;
  width: 200px;
  font-size: 14px;
}