<div fxFlex>
  <mat-sidenav-container fxFill class="dark">
    <mat-sidenav
      #sidenav
      [mode]="'side'"
      [opened]="true"
      [class.small]="isSmall"
      [disableClose]="true"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar>
        <!-- <span>T</span>imify -->

        <div *ngIf="!isSmall" class="flex-b">
          <img src="/assets/logo-white-2.png" class="logo" width="50px" height="30px" alt=""><span>imify</span>
        </div>
        <div fxFlex></div>
        <div>
         
          

          <button class="menu-toggler" mat-icon-button (click)="isSmall = !isSmall">
            <mat-icon>{{ isSmall ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <nav *ngIf="!isSmall">
        <mat-list class="list-items">
          <!-- <mat-divider></mat-divider> -->
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="isSmall && sidenav.close()">
            <!-- access_time -->
           <mat-icon class="flex-m">access_time</mat-icon> <span >Home</span>
          </a>
          <a mat-list-item routerLink="/reports" routerLinkActive="active" (click)="isSmall && sidenav.close()">
           <mat-icon class="flex-m">list_alt</mat-icon> <span >Reports</span>
          </a>




          <a class="profile" mat-list-item  [matMenuTriggerFor]="userMenu">
            <!-- <mat-icon class="flex-m">person</mat-icon> -->
            <img [src]="credentials?.picture" class="profile-img sm m-r-5" width="40px" height="40px"  alt="">
            <span >Me</span>
          </a>
          <mat-menu #userMenu="matMenu" class="top-menu">
            <mat-list>
              <mat-list-item>
                <img [src]="credentials?.picture" class="profile-img sm" alt="">
                &nbsp;<b>{{ credentials?.email }}</b>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item (click)="logout()" >Logout</button>
          </mat-menu>
        </mat-list>




     

      </nav>
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{'margin-left': isSmall ? 'var(--small-menu-width)'  : 'var(--large-menu-width)'}">
      <!-- <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
      </mat-toolbar> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
