
@use '@angular/material' as mat;
@import "src/theme/theme-variables";
 

:host {
  display: flex;
  flex: 1;

  
  --large-menu-width: 160px;
  --small-menu-width: 73px;
}

.mat-drawer-container{
  background-color: #fff;
  background-color: $body-bg;
}
.mat-sidenav {
  min-width: var(--large-menu-width);
  max-width: 28%;

  .mat-toolbar{
    margin: 20px 0 40px;
    span {
      font-weight: 700;
    }
    .logo{
      margin-right: -10px;
      
    }
  }

  &.small{
    min-width: var(--small-menu-width);
  }
}

.has-border {
  border-right: 1px solid $color-grey-overlay;
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;
}

::ng-deep .top-menu .mat-list-base .mat-list-item,.top-menu .mat-list-base .mat-list-option{
  height: 100px;
}

.menu-button {
  margin-right: 1rem;
}

nav {
  .list-items {
    a{
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;

      border-inline: none;
      mat-icon{
        font-size: 17px;
      }
      
      &.profile {
        position: absolute;
        bottom: 0;
        cursor: pointer;
        height: 60px;
        .profile-img {
          width: 30px; height: 30px;
            background-color: mat-color($app-primary, 100);
        }
      }
    }
  }
}




.light{
  .mat-sidenav {
    background-color: #fff;
    .mat-toolbar{
      background-color:  #fff;
      color: mat-color($app-primary);
    }
    mat-list a {
      color: mat-color($app-primary);
    }
   } 
}
.dark {
 .mat-sidenav {
  background-color: mat.get-color-from-palette($app-primary);
  .mat-toolbar{
    background-color:  mat-color($app-primary);
    color: #fff;
  }
  mat-list a {
    color: #fff;
  }
 } 
}

button.switch-mode{
  position: fixed;
  right: 5px;
    bottom: 5px;
    z-index: 1;
    background: mat-color($app-primary);
    color: #fff;
}

.profile-img  {
  background-color: mat-color($app-primary, 100);
}