
@use '@angular/material' as mat;
@import "src/theme/theme-variables";
 

:host {
  display: flex;
  flex: 1;

  
  --large-menu-width: 200px;
  --small-menu-width: 73px;
}

.mat-sidenav {
  background-color: mat.get-color-from-palette($app-primary);
  min-width: var(--large-menu-width);
  max-width: 28%;

  box-shadow: rgb(44 19 56 / 20%) 0px 2px 12px 0px;
  border-radius: 0 4px 4px 0;


  &.small{
    min-width: var(--small-menu-width);
  }

  mat-list a {
    color: #fff;
  }
}

.has-border {
  border-right: 1px solid rgb(0 0 0 / 12%);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgb(0 0 0 / 5%);
  }
}

::ng-deep .top-menu .mat-list-base .mat-list-item,.top-menu .mat-list-base .mat-list-option{
  height: 100px;
}

.menu-button {
  margin-right: 1rem;
}
