
@use '@angular/material' as mat;
@import "src/theme/theme-variables";
 

:host {
  display: flex;
  flex: 1;

  
  --large-menu-width: 200px;
  --small-menu-width: 73px;
}

.mat-drawer-container{
  background-color: #fff;
}
.mat-sidenav {
  // background-color: mat.get-color-from-palette($app-primary);
  // box-shadow: rgb(44 19 56 / 20%) 0px 2px 12px 0px;

  min-width: var(--large-menu-width);
  max-width: 28%;

  // border-radius: 0 4px 4px 0;

  .mat-toolbar{
    background-color: #fff;
    color: mat-color($app-primary);
    margin: 20px 0 40px;
    span {
      font-weight: 700;
    }
    .logo{
      margin-right: -10px;
      
    }
  }

  &.small{
    min-width: var(--small-menu-width);
  }

  mat-list a {
    color: mat-color($app-primary);
  }
  
}

.has-border {
  border-right: 1px solid $color-grey-overlay;
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  // &:hover {
  //   background: rgb(0 0 0 / 5%);
  // }
}

::ng-deep .top-menu .mat-list-base .mat-list-item,.top-menu .mat-list-base .mat-list-option{
  height: 100px;
}

.menu-button {
  margin-right: 1rem;
}

nav {
  .list-items {
    // font-weight: 600;
    // border-top: .1px solid rgb(0 0 0 / 12%);
    a{
      font-size: 14px;
      // height: 35px;
      // border-bottom: .1px solid rgb(0 0 0 / 12%);
      font-family: 'Open Sans', sans-serif;

      border-inline: none;
      mat-icon{
        font-size: 17px;
      }
      
      &.profile {
        position: absolute;
        bottom: 0;
        cursor: pointer;
        height: 60px;
        .profile-img {
          width: 30px; height: 30px;
        }
      }
    }
  }
}
