<div fxFlex>
  <mat-sidenav-container fxFill [ngClass]="isDarkMode ? 'dark' : 'light'" >
    <mat-sidenav
      fixedInViewport="true" 
      #sidenav
      [mode]="'side'"
      [opened]="true"
      [class.small]="isSmall"
      [disableClose]="true"
      class="flex-m"
    >
      <div class="top-nav">
        <mat-toolbar class="flex-c m-b-50">
          <div class="flex-b logo-container">
            <h1 [routerLink]="['/']">T</h1>
            <!-- <img [src]="'/assets/logo.png'" class="logo" width="50px" height="30px" alt="">     -->
          </div>
        </mat-toolbar>
  
        <nav>
          <mat-list class="list-items">
            <!-- <mat-divider></mat-divider> -->
            <a mat-list-item routerLink="/home" class="link" routerLinkActive="active"  [matTooltip]="'Timer'"  [matTooltipPosition]="'right'">
              <!-- access_time -->
             <mat-icon class="flex-m flex-c">access_time</mat-icon>
            </a>
            <a mat-list-item routerLink="/reports" class="link" routerLinkActive="active"  [matTooltip]="'Reports'"  [matTooltipPosition]="'right'">
             <mat-icon class="flex-m flex-c">list_alt</mat-icon> 
            </a>
    
          </mat-list>
        </nav>
      </div>
     

      <div class="bottom-nav">
        <a class="profile hov-pointer" mat-list-item  [matMenuTriggerFor]="userMenu">
          <div class="profile-img-container sm">
            <img [src]="credentials?.picture" class="profile-img" width="40px" height="40px"  alt="">
          </div>
        </a>
     
        <mat-menu #userMenu="matMenu" class="top-menu">
          <mat-list>
            <mat-list-item>
              <div class="profile-img-container sm">
                <img [src]="credentials?.picture" class="profile-img" alt="">
              </div>

              &nbsp;<b>{{ credentials?.email }}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <button mat-menu-item (click)="logout()" >Logout</button>
        </mat-menu>
      </div>

    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{'margin-left': 'var(--menu-width)'}">
      <!-- <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
      </mat-toolbar> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



<button mat-icon-button class="switch-mode" (click)="isDarkMode = !isDarkMode">
  <mat-icon>
    {{ isDarkMode ? 'light_mode' : 'dark_mode' }}
  </mat-icon>
</button>
