
@use '@angular/material' as mat;
@import "src/theme/theme-variables";
 
.container {
  // padding: 0 .5em; 
  min-width: 1055px; 

  .totalPeriods {
    // margin: 20px;
    gap: 30px;

        background: #f1f1f1;
        color: mat-color($app-primary);
        padding: 10px;

    >div{
      gap: 10px;
      >div { font-size: 11px;}
      b {
        font-size: 14px;
      }
    }

    animation: fadeIn .3s ease-in;
  }
}



@keyframes fadeIn {
  0% {
      opacity: 0;
  } 
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}