<div class="container">

  <!-- Add task input. -->
  <app-add-task 
    (taskStarted$)="onStartTask($event)" (taskStopped$)="onStopTask($event)"
    (taskAddedManually$)="onAddTaskManually($event)"
    (projectAdded$)="onAddProject($event)" [isPlaying]="isPlaying" [focus]="focus" [projects]="projects"
    
    [isTaskLoading]="isTaskLoading"
    >
  </app-add-task>

  <div class="flex-m flex-r totalPeriods">
   <div class="flex-m flex-c">
    <div>Today's Total</div>
    <b>{{todayTotalPeriods}}</b>
   </div>
    <div class="flex-m flex-c">
      <div>Total</div>
      <b>{{allTotalPeriods}}</b>
    </div>
  </div>

  <!-- Tasks list -->
  <div *ngIf="(categorizedTasks?.length); else loading">
    <app-tasks 
      (taskEdited$)="onEditTask($event)"
      (multipleTasksEdited$)="onEditMultipleTasks($event)"
      (taskResumed$)="onStartTask($event)" (taskDeleted$)="onDeleteTask($event)" (multipleTasksDeleted$)="onDeleteMultipleTasks($event)" [tasks]="categorizedTasks"
    ></app-tasks>   
  </div>

  <!-- Loading placeholder -->
  <ng-template #loading>
    <div class="empty-block flex-m flex-c w-full">
    <ng-container *ngIf="isLoading; else empty">
      <mat-spinner  [diameter]="25"></mat-spinner>

    </ng-container>
    <ng-template #empty>
        <mat-icon class="m-r-5">error_outline</mat-icon>
        <h4 *ngIf="serverErrMsg; else no_data">
          {{serverErrMsg}}
        </h4>
        <ng-template #no_data> 
          <h4>No Tasks so far, <span class="link" (click)="focusAddTaskInput()">Create a new one ?</span></h4>
        </ng-template>
    </ng-template>
  </div>
  </ng-template>

</div>